input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid;
    border-color: gray;
    
}
button{
    width: 100%;
    background-color: #ff00bb;
    border: none;
    height: 4vh;
    
}
.custom{
    height: 5vh;
    

}